body {
    font-family: Georgia, 'Times New Roman';
    font-style: oblique;
    background-color: #f8f8f7;
    background: linear-gradient(#fdfdfd, #dfe6d9,#8e9982, #69755b, #516D31);

.carousel-caption { 
    position: absolute;
    bottom: 1.25rem;
    left: 10%;
    padding-top: 0rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: left;
    top: 15%;  
    text-shadow: 1px 1px 2px #000;
    font-size: 1.5rem;
}

#categorias {
    /*background-color: #516D31;**/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

h4 {
    margin: 30px;
}

.categoria {
    background-color: #f1f1f1;
    border-radius: 10px;
    display: table;
    margin: 10px;
    padding: 0;
    text-align: center;
}

.categoria :hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.categoria div {
    background-repeat: round;
    border-radius: 10px;
    color: #FFF;
    display: table-cell;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    vertical-align: middle;
}
#categorias h4 {
    color: white;
    font-size: 30px; 
    font-style: normal;
    font-family: 'snell roundhand';
}

#plantas {
    background-image: url('assets/imagenes/categorias/plantas.jpg');
}
#arreglos {
    background-image: url('assets/imagenes/categorias/arreglos.jpg');
}
#ramos {
    background-image: url('assets/imagenes/categorias/ramos.jpg');
}
#canastos {
    background-image: url('assets/imagenes/categorias/canastos.jpg');
}
#floreros {
    background-image: url('assets/imagenes/categorias/floreros.jpg');
}
#regalos {
    background-image: url('assets/imagenes/categorias/regalos.jpg');
}

#informacion {
    /*background-color: #516D31;**/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

#informacion h4 {
    color: #FFFFFF;
    margin: 0 auto;
    padding-bottom: 10px;
}

.texto {
    padding: 20px;
    text-align: justify;
    color: #FFFFFF;
}

.texto div {
    margin-top: 10px;
}

.texto img {
    display: block;
    margin: 0 auto;
}

footer {
    background-color: #f8bea1;
    color: black;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 0;
    padding-bottom: 20px;
}

footer h4 {
    font-size: 16px;
    text-align: center;
    /* font-weight: bold; */
}

footer p {
    font-size: 14px;
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    gap: 10px;
    padding: 10px;
}

.footer h4 {
    grid-column: span 2;
}

.footer p {
    place-self: center;
}

p a {
    margin: 10px;
}

p i {
    margin: 20px;
}

@media screen and (max-width: 768px) {
    .categoria {
        width: 45%;
        height: 150px;
    }
    .datos {
        width: 100%;
    }
    .texto img {
        width: 30%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .categoria {
        width: 45%;
        height: 200px;
    }
    .datos {
        width: 45%;
    }
    .texto img {
        width: 45%;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .categoria {
        width: 30%;
        height: 250px;
    }
    .datos {
        width: 30%;
    }
    .texto img {
        width: 60%;
    }
}

@media screen and (min-width: 1441px) {
    .categoria {
        width: 30%;
        height: 250px;
    }
    .datos {
        width: 30%;  font-style: ;
    }
    .texto img {
        width: 50%;
    }
}

@media screen  and (max-width: 1024px) {
    .footer {
        grid-template-columns: 1fr;
        grid-row: auto;     
    }
}
